$baseColor: #6cc6c4;

.global_header_wrapper {
  margin: 0 auto 20px;
}
.global_header {
  height: 200px;
  position: relative;
  display: block;
  &_iamge {
    display: block;
    position: absolute;
    top: 30px;
  }
  &_support {
    display: block;
    float: right;
    .subtitle {
      font-size: 4px;
      position: relative;
      top: 30px;
      p {
        margin: 0;
      }
    }
    .address {
      position: relative;
      top: 30px;
      p {
        font-size: 20px;
        margin: 5px;
      }
      .reserve {
        display: inline-block;
        font-size: 30%;
        padding-left: 5px;
        padding-right: 5px;
        border: solid 1px #d6d6d6;
        span {
          color: red;
        }
      }
    }
  }





  .global_nav {
    border-radius: 6px;
    width: 100%;
    height: 70px;
    position: absolute;
    display: block;
    bottom: 0px;
    // border-radius: 6px 6px 6px 6px;
    // 線形グラデーション linear-gradient()
    // 円形グラデーション radial-gradient()
    // 反復線形グラデーション repeating-linear-gradient()
    // 反復円形グラデーション repeating-radial-gradient()
    background-image: -moz-linear-gradient(
      50% -1%,
      rgb(156, 227, 225) 0%,
      rgb(108, 198, 196) 100%
    );
    background-image: linear-gradient(
      rgb(156, 227, 225) 0%,
      rgb(108, 198, 196) 100%
    );

    ul {
      border-radius: 6px;
      // background-color: $baseColor;
      margin: 0;
      padding: 0;
      display: table;
      list-style: none;
      width: 100%;
      height: 70px;
      text-align: center;
      // これを書いてテーブルせるを等間隔にする
      table-layout: fixed;

      li {
        display: table-cell;
        border-right: solid 3px #a9d8ce;
        vertical-align: middle;
      }
      li:hover {
        opacity: 0.5;
        transition-duration: 0.4s;
      }
      a {
        text-decoration: none;
        color: white;
        .langJa {
          display: block;
          text-shadow: 1px 1px 2px #6cc6c4;
          font-weight: bold;
          font-size: 108%;
        }
        .langEn {
          text-align: center;
          font-size: 77%;
          font-weight: bold;
          display: block;
        }
      }
    }
  }
}

// asideのナビを書いていく



.container{
  max-width: 920px;
  height: auto;
  margin-bottom:10px;
  position: relative;
}
main {
  width: 100%;
  height: auto;
  aside {
    position: absolute;
    top: 0;

    .up {
      position: absolute;
      border: solid 1px rgb(108, 198, 196);
      border-radius: 6px;
      width: 250px;
      height: 230px;
      h2 {
        margin: 0;
        display: block;
        background-image: linear-gradient(
          rgb(156, 227, 225) 0%,
          rgb(108, 198, 196) 100%
        );
        color: white;
      }
      ul {
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        list-style: square;
        padding: 0;
        text-align: center;
        list-style-image: url("img/dental clinic1.png");
        li {
          display: block;
          line-height: 230%;
          border-bottom: solid 1px $baseColor;
          margin-right: 10px;
          margin-left: 10px;
          list-style: circle;
          a:hover{
            color: yellowgreen;
          }
          a {
            color: black;
            text-decoration: none;
          }
        }
      }
    }
    .down {
      top: 280px;
      position: absolute;
      border: solid 1px rgb(108, 198, 196);
      border-radius: 6px;
      width: 250px;
      height: 230px;
      h2 {
        margin: 0;
        display: block;
        background-image: linear-gradient(
          rgb(156, 227, 225) 0%,
          rgb(108, 198, 196) 100%
        );
        color: white;
      }
      ul {
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        list-style: square;
        padding: 0;
        text-align: center;
        li {
          display: block;
          line-height: 230%;
          border-bottom: solid 1px $baseColor;
          margin-right: 10px;
          margin-left: 10px;
          list-style: circle;
          a:hover{
            color: yellowgreen;
          }
          a {
            color: black;
            text-decoration: none;
          }
        }
      }
    }
  }
}

footer{
 margin-top: 10px;
  nav{
    display: flex;
    ul{
      height: 50px;
      width: 100%;
      line-height: 50px;
      display: flex;
      background-image: linear-gradient(
        rgb(156, 227, 225) 0%,
        rgb(108, 198, 196) 100%
      );
      border-radius: 6px;
      
      li{
        color: white;
       list-style: square;
       margin-right: 35px;
       a:hover{
         text-decoration-color: white;
       }
       a{
         
         text-decoration: none;
         color: white;
       }
      }
    }
  }
  address{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    p{
      
      margin-right: 15px;
      margin-bottom: 15px;
    }
    
  }
  .foot{
    padding: 0;
    border-top: solid 2px $baseColor;
    text-align: center;
  }
}
